body {
    margin: 20px 40px 80px 50px;
    font-family: "Open Sans", sans-serif !important;
    font-size: 16px;
}
a {text-decoration: none; color: crimson;}
a:visited{color: crimson;}
h1 {color: crimson;}
#dataList {margin-left: 20px;}
input {width: 16px; height: 16px; padding: 0; margin:0; vertical-align: bottom; position: relative; top: -1px; *overflow: hidden;}
strong {color: crimson;}
code {font-size: small;}
